//import variables from index.css

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  position: fixed;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 2rem;
  padding: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }
}

nav ul li a {
  color: var(--accent);
  font-family: var(--font-primary);
  font-weight: 900;
  text-transform: uppercase;
}
nav ul li button {
  color: var(--accent);
  font-weight: 900;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.mobile-list {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }
}
.nav-inbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.nav-inbox svg {
  width: 1.2rem;
  height: 1.2rem;
  color: var(--accent);
  stroke: var(--accent);
}
